@if (project) {
<div class="overlay">
  <div class="shadow_wrapper"></div>
  <div class="container">
    <app-header class="overlay_header"></app-header>
    <div class="mobile_bar">
      <div class="mobile_container">
        <div class="logo" id="logo"></div>
        <div class="close_button" (click)="closeOverlay()">
          <button>&#10006;</button>
        </div>
      </div>
    </div>
    <button class="back-button" (click)="closeOverlay()">
      <img
        src="./../../assets/img/projects_section/back_arrow.png"
        alt=""
        class="back_icon"
      />
      {{ "OVERLAY.BACK" | translate }}
    </button>
    <div class="overlay-content">
      <div class="left">
        <div class="title">
          <h2>{{ project.title }}</h2>
          <div class="line_wrapper"></div>
        </div>
        <div class="content">
          <div class="description_wrapper">
            <h3>{{ "OVERLAY.DESCRIPTION" | translate }}</h3>
            <p>
              {{
                "PROJECTS_OVERLAY." + projectId.toUpperCase() + ".DESCRIPTION"
                  | translate
              }}
            </p>
          </div>
          <div class="details_wrapper">
            <h3>{{ "OVERLAY.DETAILS" | translate }}</h3>
            <p>
              {{
                "PROJECTS_OVERLAY." + projectId.toUpperCase() + ".DETAILS"
                  | translate
              }}
            </p>
          </div>
          <p>
            <span>{{ "OVERLAY.DURATION" | translate }}:</span>
            {{
              "PROJECTS_OVERLAY." + projectId.toUpperCase() + ".DURATION"
                | translate
            }}
          </p>
          <div class="skills">
            @for (skill of project.skills; track skill;) {
            <div class="single_skill">
              <img src="{{ skill.icon }}" alt="" />
              <p>{{ skill.name }}</p>
            </div>
            }
          </div>
        </div>
      </div>
      <div class="right">
        <div class="sticker_wrapper">
          <img
            [src]="project.image"
            alt="{{ project.title }}"
            class="project-image"
          />
          <img [src]="project.sticker" alt="" class="sticker" />
        </div>
        <div class="buttons">
          <a [href]="project.button1Link" target="_blank">{{
            "PROJECTS_OVERLAY." + projectId.toUpperCase() + ".BUTTON1TEXT"
              | translate
          }}</a>

          <ng-container *ngIf="projectId === 'dabubble'; else externalBtn2">
            <a (click)="closeOverlay()" [routerLink]="['/page-not-found']">
              {{
                "PROJECTS_OVERLAY." + projectId.toUpperCase() + ".BUTTON2TEXT"
                  | translate
              }}
            </a>
          </ng-container>
          <ng-template #externalBtn2>
            <a [href]="project.button2Link" target="_blank">
              {{
                "PROJECTS_OVERLAY." + projectId.toUpperCase() + ".BUTTON2TEXT"
                  | translate
              }}
            </a>
          </ng-template>
        </div>
        <div class="navigation_buttons">
          <button class="back-button-mobile" (click)="closeOverlay()">
            <img
              src="./../../assets/img/projects_section/back_arrow.png"
              alt=""
              class="back_icon_mobile"
            />
            {{ "OVERLAY.BACK" | translate }}
          </button>
          <button class="next-project-button" (click)="nextProject()">
            {{ "OVERLAY.NEXT" | translate }}
            <img
              class="next_icon"
              src="./../../assets/img/projects_section/next_arrow.png"
              alt=""
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
}
