<div class="projects_wrapper">
  <div class="container">
    <div class="title_text_project">
      <div class="title_text">
        <span>{{ "PROJECTS.MY_CRAFT" | translate }}</span>
        <div class="projects_title">
          <h2>{{ "PROJECTS.TITLE" | translate }}</h2>
          <div class="line_wrapper"></div>
        </div>
        <p>
          {{ "PROJECTS.DESCRIPTION" | translate }}
        </p>
      </div>
      <div class="project first">
        <div class="laptop_container" (click)="openOverlay('join')">
          <div class="floating_wrapper">
            <img
              class="floating_laptop"
              src="./../../assets/img/projects_section/laptop_mockup.png"
              alt=""
            />
          </div>
          <div class="bottom_shadow"></div>
          @if (!isMobile) {
          <button class="project_btn">
            {{ "PROJECTS.BUTTON" | translate }}
          </button>
          }
        </div>
        <img
          class="project_sticker"
          src="./../../assets/img/projects_section/featured_sticker.png"
          alt=""
        />
        <div class="description">
          <h3>Join</h3>
          <p>
            {{ "PROJECTS.JOIN_DESC" | translate }}
          </p>
        </div>
        @if (isMobile) {
        <button class="project_btn" (click)="openOverlay('join')">
          {{ "PROJECTS.BUTTON" | translate }}
        </button>
        }
      </div>
    </div>
    <div class="other_projects">
      <div class="project second">
        <div class="thumbnail_container" (click)="openOverlay('mafia-vs-orcs')">
          <img
            class="project_image"
            src="./../../assets/img/projects_section/mafia_mockup.jpg"
            alt=""
          />
          <div class="bottom_shadow"></div>
          @if (!isMobile) {
          <button class="project_btn">
            {{ "PROJECTS.BUTTON" | translate }}
          </button>
          }
        </div>
        <div class="description">
          <h3>Mafia vs Orcs</h3>
          <p>
            {{ "PROJECTS.MAFIA_DESC" | translate }}
          </p>
        </div>
        @if (isMobile) {
        <button class="project_btn" (click)="openOverlay('mafia-vs-orcs')">
          {{ "PROJECTS.BUTTON" | translate }}
        </button>
        }
      </div>
      <div class="project placeholder">
        <div class="thumbnail_container">
          <div class="placeholder_content">
            <p class="typewriter-text">
              More projects incoming, <br />stay tuned!
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="project third">
        <div class="thumbnail_container" (click)="openOverlay('dabubble')">
          <img
            class="project_image"
            src="./../../assets/img/projects_section/dabubble_mockup.jpg"
            alt=""
          />
          <div class="bottom_shadow"></div>
          @if (!isMobile) {
          <button class="project_btn">
            {{ "PROJECTS.BUTTON" | translate }}
          </button>
          }
        </div>
        <div class="description">
          <h3>DABubble</h3>
          <p>
            {{ "PROJECTS.DABUBBLE_DESC" | translate }}
          </p>
        </div>
        @if (isMobile) {
        <button class="project_btn" (click)="openOverlay('dabubble')">
          {{ "PROJECTS.BUTTON" | translate }}
        </button>
        }
      </div> -->
    </div>
    <app-project-overlay
      *ngIf="showOverlay"
      [project]="selectedProject"
      [projectId]="projectKeys[currentProjectIndex]"
      (close)="closeOverlay()"
      (next)="showNextProject()"
    ></app-project-overlay>
  </div>
</div>
