@use "./../../styles/variables" as *;
@use "./responsive-projects.component.scss";
@use "./thumbnail.component.scss";

* {
  color: $color-black;
}

.projects_wrapper {
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: relative;

  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 140px 30px 50px 30px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 88px;
    cursor: default;
  }

  .title_text_project {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
  }

  span {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
  }

  .title_text {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 560px;

    h2 {
      font-size: 64px;
      font-weight: 700;
      position: relative;
    }

    h3 {
      font-size: 24px;
      font-weight: 700;
    }

    .projects_title {
      margin-bottom: 50px;
    }

    .line_wrapper {
      position: relative;
      height: 20px;
      width: 100%;
      overflow: hidden;
      top: 0;
      pointer-events: none;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("./../../assets/img/projects_section/projects_line.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        clip-path: inset(0 100% 0 0);
        animation: revealLine 4s ease-in-out infinite;
      }
    }
  }

  @keyframes revealLine {
    0% {
      clip-path: inset(0 100% 0 0);
    }
    10%,
    30%,
    80% {
      clip-path: inset(0 0% 0 0);
    }
    90% {
      clip-path: inset(0 100% 0 0);
    }
    100% {
      clip-path: inset(0 100% 0 0);
    }
  }

  @keyframes floatUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .project_sticker {
    position: absolute;
    pointer-events: none;
    z-index: 2;
    left: -40px;
    top: 30%;
  }

  .project {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 560px;

    img {
      border-radius: 30px;
    }

    .laptop_container {
      position: relative;
      display: inline-block;
      cursor: pointer;

      .floating_wrapper {
        animation: floatUpDown 4s ease-in-out infinite;
        transition: transform 0.4s ease;
        z-index: 1;
        border-radius: 30px;
        overflow: hidden;
      }

      .floating_laptop {
        display: block;
        width: 100%;
        transition: transform 0.4s ease;
        z-index: 1;
        border-radius: 30px;
      }

      .bottom_shadow {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
        z-index: 1;
      }

      .project_btn {
        position: absolute;
        bottom: 30px;
        right: 30px;
        height: 40px;
        opacity: 0;
        font-size: $font-size-base;
        font-weight: 500;
        align-items: center;
        transition: all 250ms ease, opacity 0.3s ease, transform 150ms ease;
        color: $color-white;
        padding: 0 24px;
        box-shadow: 2px 4px 0px 0px $color-white;
        border: solid 1px $color-white;
        border-radius: 100px;
        background-color: transparent;
        cursor: pointer;
        z-index: 3;

        &:hover {
          transform: translate(3px, 3px);
          box-shadow: none;
          background-color: $accent-color;
        }
      }

      &:hover {
        .floating_wrapper {
          animation-play-state: paused;
        }

        .floating_laptop {
          transform: scale(1.1);
        }

        .bottom_shadow {
          opacity: 1;
        }

        .project_btn {
          opacity: 1;
        }
      }
    }
  }

  .project.placeholder {
    width: 560px;
    min-height: 350px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    transition: box-shadow 0.3s ease;

    .thumbnail_container {
      width: 100%;
      height: 100%;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: start;
      background-color: transparent;
      transition: transform 0.3s ease;
      cursor: default;
    }

    .placeholder_content {
      padding: 40px 20px;
      animation: pulsePop 4s ease-in-out infinite;

      p {
        font-weight: 400;
        font-size: 64px;
        background: linear-gradient(#eee, #333);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &:hover p {
        background: linear-gradient(#f7c51850, $accent-color);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  @keyframes pulsePop {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03);
    }
  }
}
