<div class="about_me_wrapper">
  <div class="container">
    <div class="left_section">
      <div class="paper_wrapper yellow" style="--rotation: -4deg">
        <img src="./../../assets/img/about_me/yellow_paper.webp" alt="" />
        <div class="iconText">
          <img src="./../../assets/img/about_me/location.png" alt="" />
          <p>{{ "ABOUT.LOCATION" | translate }}</p>
        </div>
      </div>

      <div class="paper_wrapper blue" style="--rotation: 0deg">
        <img src="./../../assets/img/about_me/blue_paper.webp" alt="" />
        <div class="iconText">
          <img src="./../../assets/img/about_me/relocation.png" alt="" />
          <p>{{ "ABOUT.RELOCATE" | translate }}</p>
        </div>
      </div>

      <div class="paper_wrapper orange" style="--rotation: 4deg">
        <img src="./../../assets/img/about_me/orange_paper.webp" alt="" />
        <div class="iconText">
          <img src="./../../assets/img/about_me/remote.png" alt="" />
          <p>{{ "ABOUT.REMOTE" | translate }}</p>
        </div>
      </div>
    </div>

    <div class="right_section">
      <div class="mobile_wrapper">
        <span>{{ "ABOUT.WHO" | translate }}</span>
        <div class="about_me_title">
          <h2>{{ "ABOUT.TITLE" | translate }}</h2>
          <div class="line_wrapper"></div>
        </div>
        <p>{{ "ABOUT.DESCRIPTION_1" | translate }}</p>
        <p>{{ "ABOUT.DESCRIPTION_2" | translate }}</p>
        <button class="lets_talk_button" (click)="scrollToContacts()">
          {{ "ABOUT.BUTTON" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
