<div class="about_me_wrapper">
  <div class="container">
    <div class="left_section">
      <div class="paper_wrapper yellow" style="--rotation: -4deg">
        <img src="./../../assets/img/about_me/yellow_paper.png" alt="" />
        <div class="iconText">
          <img src="./../../assets/img/about_me/location.png" alt="" />
          <p>Based in Hohentengen</p>
        </div>
      </div>

      <div class="paper_wrapper blue" style="--rotation: 0deg">
        <img src="./../../assets/img/about_me/blue_paper.png" alt="" />
        <div class="iconText">
          <img src="./../../assets/img/about_me/relocation.png" alt="" />
          <p>Open to relocate</p>
        </div>
      </div>

      <div class="paper_wrapper orange" style="--rotation: 4deg">
        <img src="./../../assets/img/about_me/orange_paper.png" alt="" />
        <div class="iconText">
          <img src="./../../assets/img/about_me/remote.png" alt="" />
          <p>Open to work remote</p>
        </div>
      </div>
    </div>
    <div class="right_section">
      <div class="mobile_wrapper">
        <span>WHO'S ALESSANDRO?</span>
        <div class="about_me_title">
          <h2>About Me</h2>
          <div class="line_wrapper"></div>
        </div>
        <p>
          Hey there, I'm Karl. Write some information about yourself that is IT
          related. Why are you passionate about coding? What is your source of
          inspiration for improving your programming skills? Do you learn from
          each challenge as you search for the most efficient or elegant
          solution?
        </p>
        <p>Let's collaborate and build something remarkable together!</p>
        <button class="lets_talk_button">Let's talk</button>
      </div>
    </div>
  </div>
</div>
