<div class="hero_wrapper" priority fetchpriority="high">
  <div class="container">
    <div class="main">
      <div class="title_photo">
        <div class="title_line">
          <div class="hello_wrapper">
            <button class="hello_btn">
              <img
                src="./../../assets/img/hero/waving_hand.webp"
                alt="Hand"
                class="hand"
              />
              <span class="btn_text default">{{
                "HERO.HELLO" | translate
              }}</span>
              <span class="btn_text hover">{{ "HERO.INTRO" | translate }}</span>
            </button>
          </div>
          <h1 class="title">
            @for (letter of titleText; track letter; let index = $index) {
            <span
              class="letter"
              attr.data-case="{{ letter }}"
              attr.data-flip="{{ flipCase(letter) }}"
            ></span>
            }
          </h1>
        </div>
        @if (isMobile === false) {
        <div class="photo_wrapper" style="position: relative">
          <img
            class="photo"
            src="./../../assets/img/hero/photo_frame-900.webp"
            alt="Picture"
            (mouseenter)="onPhotoHover(true)"
            (mouseleave)="onPhotoHover(false)"
          />
          <div class="name_overlay">
            <span class="name_text">{{
              isPhotoHovered ? "Alessandro :D" : "Alessandro :)"
            }}</span>
          </div>
        </div>
        }
      </div>
      <div class="subtitle_wrapper">
        <div class="subtitle_group">
          <h2 class="subtitle">
            @for (letter of subtitleText; track letter; let index = $index) {
            <span
              class="letter"
              attr.data-case="{{ letter }}"
              attr.data-flip="{{ flipCase(letter) }}"
            ></span>
            }
          </h2>
          <button class="get_in_touch" (click)="scrollToContacts()">
            {{ "HERO.CONTACT" | translate }}
          </button>
        </div>
      </div>
      <div class="mobile_photo">
        @if (isMobile === true) {
        <div class="photo_wrapper" style="position: relative">
          <img
            class="photo"
            src="./../../assets/img/hero/photo_frame-900.webp"
            alt="Picture"
            (mouseenter)="onPhotoHover(true)"
            (mouseleave)="onPhotoHover(false)"
          />
          <div class="name_overlay">
            <span class="name_text">Alessandro :)</span>
          </div>
        </div>
        }
      </div>
      <div class="social">
        <a
          href="https://www.linkedin.com/in/alessandro-argenziano"
          target="_blank"
        >
          <span class="icon_wrapper"
            ><img
              src="./../../assets/img/social_icons/linkedin.png"
              alt="Linkedin" /></span
        ></a>
        <a href="https://github.com/alessandro-arg" target="blank">
          <span class="icon_wrapper"
            ><img
              src="./../../assets/img/social_icons/github.png"
              alt="Github" /></span
        ></a>
        <a href="mailto:contact@alessandro-argenziano.com" target="blank">
          <span class="icon_wrapper"
            ><img
              src="./../../assets/img/social_icons/mail.png"
              alt="Email" /></span
        ></a>
      </div>
    </div>
  </div>
</div>
