<div class="hero_wrapper">
  <div class="container">
    <div class="main">
      <div class="title_photo">
        <div class="title_line">
          <div class="hello_wrapper">
            <button class="hello_btn">
              <img
                src="./../../assets/img/hero/waving_hand.png"
                alt="Hand"
                class="hand"
              />
              <span class="btn_text default">Hello world</span>
              <span class="btn_text hover">I'M ALESSANDRO ARGENZIANO</span>
            </button>
          </div>
          <h1 class="title">
            @for (letterObj of titleLetters; track letterObj; let index =
            $index) {
            <span
              class="letter"
              (mouseenter)="onHover(letterObj)"
              (mouseleave)="onLeave(letterObj)"
              >{{ letterObj.display }}</span
            >
            }
          </h1>
        </div>
        <div class="photo_wrapper" style="position: relative">
          <img
            class="photo"
            src="./../../assets/img/hero/photo_frame.png"
            alt="Picture"
            (mouseenter)="onPhotoHover(true)"
            (mouseleave)="onPhotoHover(false)"
          />
          <div class="name_overlay">
            <span class="name_text">{{
              isPhotoHovered ? "Alessandro :D" : "Alessandro :)"
            }}</span>
          </div>
        </div>
      </div>
      <div class="subtitle_group">
        <h1 class="subtitle">
          @for (letterObj of subtitleLetters; track letterObj; let index =
          $index) {
          <span
            class="letter"
            (mouseenter)="onHover(letterObj)"
            (mouseleave)="onLeave(letterObj)"
            >{{ letterObj.display }}</span
          >
          }
        </h1>
        <button class="get_in_touch">Get in Touch</button>
      </div>
      <div class="social">
        <a href="">
          <span class="icon_wrapper"
            ><img
              src="./../../assets/img/social_icons/linkedin.png"
              alt="Linkedin" /></span
        ></a>
        <a href="">
          <span class="icon_wrapper"
            ><img
              src="./../../assets/img/social_icons/github.png"
              alt="Github" /></span
        ></a>
        <a href="">
          <span class="icon_wrapper"
            ><img
              src="./../../assets/img/social_icons/mail.png"
              alt="Email" /></span
        ></a>
      </div>
    </div>
  </div>
</div>
