<div class="hero_wrapper">
  <div class="container">
    <div class="main">
      <div class="title_photo">
        <button>Hello World</button>
        <h1>Frontend</h1>
        <img
          class="photo"
          src="./../../assets/img/background/photo_frame.png"
          alt=""
        />
      </div>
      <h1>DEVELOPER</h1>
      <button>Get in Touch</button>
    </div>
    <div class="social">
      <a href="">
        <span class="icon-wrapper"
          ><img
            src="./../../assets/img/social_icons/linkedin.png"
            alt="linkedin" /></span
      ></a>
      <a href="">
        <span class="icon-wrapper"
          ><img
            src="./../../assets/img/social_icons/github.png"
            alt="github" /></span
      ></a>
      <a href="">
        <span class="icon-wrapper"
          ><img
            src="./../../assets/img/social_icons/mail.png"
            alt="email" /></span
      ></a>
    </div>
  </div>
</div>
