@use "./../../styles/variables" as *;

.hero_wrapper {
  height: 900px;
  width: 100%;
  background-image: url(./../../assets/img/background/hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main {
    position: relative;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;

    .letter {
      line-height: 1;
      margin: 0;
      cursor: default;
      display: inline-block;
      transition: color 0.2s ease-in-out, transform 0.3s ease-in-out;
      font-size: inherit;
      white-space: nowrap;
    }

    .letter:hover {
      color: $primary-color;
      text-transform: none;
    }
  }

  .hello_wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 100px;
    padding-top: 40px;
    padding-right: 10px;
  }

  .hello_btn {
    position: relative;
    width: 145px;
    height: 40px;
    border: solid 1px $color-white;
    border-radius: 100px;
    background-color: transparent;
    color: $color-white;
    font-size: $font-size-base;
    font-weight: 500;
    cursor: default;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    transition: background-color 0.3s ease, width 300ms ease;

    .hand {
      position: absolute;
      top: -40px;
      right: 0;
      height: 40px;
      opacity: 0;
      transform: translateX(-50%) rotate(-180deg);
      transition: transform 0.5s cubic-bezier(0.55, -0.35, 0.45, 1.3),
        opacity 0.3s ease-in-out;
      pointer-events: none;
    }

    &:hover .hand {
      opacity: 1;
      transform: translateX(10px) rotate(0deg);
    }

    .btn_text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      transition: opacity 0.3s ease;
      pointer-events: none;

      &.default {
        opacity: 1;
      }

      &.hover {
        opacity: 0;
      }
    }

    &:hover {
      background-color: $secondary-color;
      width: 300px;

      .btn_text.default {
        opacity: 0;
      }

      .btn_text.hover {
        opacity: 1;
      }
    }
  }

  .title_photo {
    width: 100%;
    justify-content: center;
    gap: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
  }

  .title_line {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .title {
    @media (min-width: 1050px) {
      width: 545px;
    }
    font-size: 128px;
    font-weight: 700;
    margin: 0;
    display: inline-block;
  }

  .photo {
    width: 203.57px;
    height: 244px;
    transform: rotate(8deg);
    position: relative;
    filter: grayscale(100%);
    transition: filter 0.3s ease;

    &:hover {
      filter: grayscale(0%);
    }
  }

  .name_overlay {
    position: absolute;
    bottom: 15px;
    right: 40px;
    transform: rotate(8deg);
    text-align: center;
    width: auto;
    white-space: nowrap;
    cursor: default;
    pointer-events: none;
  }

  .name_text {
    font-family: $font-photo;
    font-size: $font-size-lg;
    line-height: 120%;
    font-weight: 700;
    color: $color-black;
    transition: all 0.3s ease;
  }

  .subtitle_group {
    width: 85%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .subtitle {
      font-size: 128px;
      font-weight: 700;
      line-height: 100%;
      margin: 0 0 1.5rem 0;
      display: inline-block;
    }

    .get_in_touch {
      box-shadow: 2px 4px 0px 0px $color-white;
      align-items: center;
      padding: 0 24px;
      font-size: $font-size-base;
      height: 40px;
      border: solid 1px $color-white;
      border-radius: 100px;
      background-color: transparent;
      color: $color-white;
      font-size: $font-size-base;
      font-weight: 500;
      transition: all 250ms ease, transform 150ms ease;
      cursor: pointer;

      &:hover {
        transform: translate(3px, 3px);
        box-shadow: none;
        background-color: $accent-color;
      }
    }
  }

  .social {
    position: absolute;
    top: 654px;
    left: 0px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    a {
      .icon_wrapper {
        position: relative;
        display: inline-block;
        border: 1px solid $color-white;
        border-radius: 100px;
        overflow: hidden;
        padding: 4px;
        width: fit-content;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0%;
          background-color: $secondary-color;
          z-index: 1;
          transition: height 250ms ease;
        }

        img {
          position: relative;
          z-index: 2;
          display: flex;
        }

        &:hover::before {
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 940px) {
  .title {
    font-size: 90px !important;
  }

  .subtitle {
    font-size: 90px !important;
  }
}

@media (max-width: 800px) {
  .main {
    padding-top: 20px !important;
  }

  .title_photo {
    justify-content: left !important;
  }
}
