<header>
  <div class="menu_wrapper">
    <a href="#">
      <img src="" alt="logo" class="logo" />
    </a>
    <div class="about_me">
      <a href="#">About Me</a>
      <div class="circle_wrapper">
        <img
          src="./../../../assets/img/hand-drawn_lines/about_me_line.svg"
          alt="circle"
          class="circle"
        />
      </div>
    </div>
    <a href="#">Skills</a>
    <a href="#">Projects</a>
    <a href="#">Contacts</a>
    <div class="language">
      <button>EN</button>
      <div class="toggle"></div>
      <button>DE</button>
    </div>
  </div>
</header>
