<header id="header">
  <div class="header-inner">
    <div class="menu_wrapper">
      <div class="logo" id="logo"></div>
      <div class="about_me">
        <div class="circle_wrapper"></div>
        <a href="#" (click)="goToSection('about-me')">{{
          "ABOUT_ME" | translate
        }}</a>
      </div>
      <div class="skills">
        <div class="skills_line_wrapper"></div>
        <a href="#" (click)="goToSection('skills')">{{
          "SKILLS" | translate
        }}</a>
      </div>
      <div class="projects">
        <div class="projects_line_wrapper"></div>
        <a href="#" (click)="goToSection('projects')">{{
          "PROJECTS" | translate
        }}</a>
      </div>
      <div class="contacts">
        <a href="#" (click)="goToSection('contacts')">{{
          "CONTACT" | translate
        }}</a>
        <div class="contacts_line_wrapper"></div>
      </div>
      <div class="language">
        <button
          [class.active]="activeLang === 'en'"
          [disabled]="activeLang === 'en'"
          (click)="switchLanguage('en')"
        >
          EN
        </button>

        <div class="toggle">
          <div class="ball" [class.move]="activeLang === 'de'"></div>
        </div>

        <button
          [class.active]="activeLang === 'de'"
          [disabled]="activeLang === 'de'"
          (click)="switchLanguage('de')"
        >
          DE
        </button>
      </div>
    </div>
  </div>
</header>
