@use "./../../../styles/variables" as *;

#mobile-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: transparent;
  height: 80px;
  padding: 16px;
  align-items: center;

  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    width: 45px;
    height: 40px;
    transition: 300ms ease-in-out;

    img {
      transform: scale(0.8);
    }
  }

  .navbar_button {
    width: 32px;
    height: 32px;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
}

.mobile-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: transparent;
  background-image: url(./../../../assets/img/background/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
  padding: 1rem;
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
  z-index: 9;

  &.open {
    transform: translateY(0);
  }

  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 128px;
    gap: 32px;
  }

  a {
    position: relative;
    color: $color-white;
    font-weight: 700;
    font-size: $font-size-base;
    text-decoration: none;
    padding: 10px;
    align-items: center;
  }

  @mixin dFlex {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @mixin wrappers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;
  }

  @mixin before($imgPath, $clipPath) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url($imgPath);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    clip-path: $clipPath;
    transition: clip-path 250ms ease-in-out;
  }

  .about_me {
    @include dFlex();

    .circle_wrapper {
      @include wrappers();

      &::before {
        @include before(
          "./../../../assets/img/hand-drawn_lines/about_me_line.svg",
          inset(0 0 100% 0)
        );
      }
    }

    &:hover .circle_wrapper::before {
      clip-path: inset(0 0 0 0);
    }
  }

  .skills {
    @include dFlex();

    .skills_line_wrapper {
      @include wrappers();

      &::before {
        @include before(
          "./../../../assets/img/hand-drawn_lines/skills_line.svg",
          inset(0 100% 0 0)
        );
      }
    }

    &:hover .skills_line_wrapper::before {
      clip-path: inset(0 0 0 0);
    }
  }

  .projects {
    @include dFlex();

    .projects_line_wrapper {
      @include wrappers();
      z-index: 2;

      &::before {
        @include before(
          "./../../../assets/img/hand-drawn_lines/projects_line.svg",
          inset(0 100% 0 0)
        );
      }
    }

    a {
      position: relative;
      z-index: 1;
    }

    &:hover .projects_line_wrapper::before {
      clip-path: inset(0 0 0 0);
    }
  }

  .contacts {
    @include dFlex();

    .contacts_line_wrapper {
      @include wrappers();

      &::before {
        @include before(
          "./../../../assets/img/hand-drawn_lines/contacts_line.svg",
          inset(0 100% 0 0)
        );
      }
    }

    &:hover .contacts_line_wrapper::before {
      clip-path: inset(0 0 0 0);
    }
  }

  .language {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      position: relative;
      padding: 8px 16px;
      border: none;
      background-color: transparent;
      color: $color-white;
      border-radius: 5px;
      font-size: $font-size-sm;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;

      &.active {
        color: $accent-color;
        pointer-events: none;
        background-color: transparent;
      }

      &:not(.active)::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("./../../../assets/img/hand-drawn_lines/toggle.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
        clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
        transition: clip-path 0.4s ease, opacity 0.4s ease;
        z-index: 0;
      }

      &:not(.active):hover::after {
        opacity: 1;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }

      & > * {
        position: relative;
        z-index: 1;
      }
    }

    .toggle {
      position: relative;
      border: solid 1px $color-white;
      width: 32px;
      height: 8px;
      background-color: $accent-color;
      border-radius: 999px;
      transition: background-color 0.3s ease;
      display: flex;
      align-items: center;
      padding: 0 2px;

      .ball {
        position: absolute;
        border: solid 1px $color-white;
        width: 16px;
        height: 16px;
        background-color: $secondary-color;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        left: -2px;
        transition: left 0.3s ease;

        &.move {
          left: 18px;
        }
      }
    }
  }

  .social {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;

    a {
      .icon_wrapper {
        position: relative;
        display: inline-block;
        border: 1px solid $color-white;
        border-radius: 100px;
        overflow: hidden;
        padding: 4px;
        width: fit-content;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0%;
          background-color: $secondary-color;
          z-index: 1;
          transition: height 250ms ease;
        }

        img {
          position: relative;
          z-index: 2;
          display: flex;
          width: 40px;
          height: 40px;
        }

        &:hover::before {
          height: 100%;
        }
      }
    }
  }
}

@media (min-width: 851px) {
  #mobile-header {
    display: none;
  }
}
