<div class="skills_section_wrapper">
  <div class="container">
    <div class="title_text">
      <div class="my_stack">
        <span>{{ "SKILLS.MY_STACK" | translate }}</span>
        <div class="skill_set">
          <h3>{{ "SKILLS.SKILL_SET" | translate }}</h3>
          <div class="circle_wrapper"></div>
        </div>
      </div>
      @if (!isMobile) {
      <div class="paper_text">
        <img
          src="./../../assets/img/skill_set/skills_description_paper.webp"
          alt=""
        />
        <p>
          {{ "SKILLS.DESCRIPTION" | translate }}
        </p>
      </div>
      } @else if (isMobile) {
      <div class="paper_text_mobile">
        <img
          src="./../../assets/img/skill_set/mobile_description.webp"
          alt=""
        />
        <p>
          {{ "SKILLS.DESCRIPTION" | translate }}
        </p>
      </div>
      }
    </div>
    <div class="content">
      <div class="icons_container">
        @for (icon of skillsIcons; track icon; let index = $index) {
        <div
          class="icon_item"
          [class.hovered]="hoveredIndex === index"
          (mouseenter)="hoveredIndex = index"
          (mouseleave)="hoveredIndex = null"
        >
          <img src="{{ icon.src }}" alt="Icon {{ index }}" />
          <span>{{ icon.name }}</span>
        </div>
        } @if (isMobile) {
        <div class="sticker_container" (click)="handleClick()">
          <img
            class="sticker_image"
            src="./../../assets/img/skill_set/sticker_reveal.png"
            [class.active]="currentState === 'reveal'"
            (click)="resetSticker($event)"
            alt="Revealed sticker"
          />
          <div
            class="sticker_content"
            [class.visible]="currentState === 'reveal'"
          >
            <p>
              {{ "SKILLS.STICKER_INTRO" | translate }}<br />
              {{ "SKILLS.STICKER_LINE_2" | translate }}
            </p>
            <div class="sticker_icons">
              <img src="./../../assets/img/skill_set/icons/react.png" alt="" />
              <img src="./../../assets/img/skill_set/icons/vuejs.png" alt="" />
            </div>
          </div>
          <img
            src="./../../assets/img/skill_set/sticker_hover.png"
            class="sticker second_layer"
            [class.active]="currentState === 'hover'"
            alt="Sticker second layer"
          />
          <img
            src="./../../assets/img/skill_set/sticker.png"
            class="sticker first_layer"
            [class.inactive]="currentState !== 'initial'"
            alt="Sticker first layer"
          />
        </div>
        }
      </div>
      @if (!isMobile) {
      <div class="sticker_container" (click)="handleClick()">
        <img
          class="sticker_image"
          src="./../../assets/img/skill_set/sticker_reveal.png"
          [class.active]="currentState === 'reveal'"
          (click)="resetSticker($event)"
          alt="Revealed sticker mobile"
        />
        <div
          class="sticker_content"
          [class.visible]="currentState === 'reveal'"
        >
          <p>
            {{ "SKILLS.STICKER_INTRO" | translate }}<br />
            {{ "SKILLS.STICKER_LINE_2" | translate }}
          </p>
          <div class="sticker_icons">
            <img src="./../../assets/img/skill_set/icons/react.png" alt="" />
            <img src="./../../assets/img/skill_set/icons/vuejs.png" alt="" />
          </div>
        </div>
        <img
          src="./../../assets/img/skill_set/sticker_hover.png"
          class="sticker second_layer"
          [class.active]="currentState === 'hover'"
          alt="Sticker second layer mobile"
        />
        <img
          src="./../../assets/img/skill_set/sticker.png"
          class="sticker first_layer"
          [class.inactive]="currentState !== 'initial'"
          alt="Sticker first layer mobile"
        />
      </div>
      }
    </div>
  </div>
</div>
