// Base colors
$color-white: #f8f9fa;
$color-black: #0e1013;

// Highlight colors
$primary-color: #f7c518;
$secondary-color: #3355ff;
$accent-color: #f87a55;

// Font families
$font-primary: "bricolage grotesque", sans-serif;
$font-photo: "kalam", sans-serif;

// Font sizes
$font-size-base: 18px;
$font-size-sm: 14px;
$font-size-lg: 24px;
$font-size-xl: 32px;
