<div class="privacy_policy_wrapper">
  <div class="container">
    <app-header-wrapper id="header"></app-header-wrapper>
    <div class="title">
      <button class="close-button" (click)="goBack()">
        <img src="./../../assets/img/projects_section/back_arrow.png" alt="" />
        {{ "OVERLAY.BACK" | translate }}
      </button>
      <h1>{{ "PRIVACYPOLICY.TITLE" | translate }}</h1>
    </div>
    <p>
      {{ "PRIVACYPOLICY.LASTUPDATED" | translate }}<br />

      {{ "PRIVACYPOLICY.INTRO" | translate }}
      <br />
      {{ "PRIVACYPOLICY.INTRO2" | translate }}
      <a
        class="white-out"
        href="https://www.termsfeed.com/privacy-policy-generator/"
        target="_blank"
        >Privacy Policy Generator</a
      >.
    </p>
    <h2>{{ "PRIVACYPOLICY.INTERPRETATIONANDDEFINITIONS" | translate }}</h2>
    <h3>{{ "PRIVACYPOLICY.INTERPRETATIONTITLE" | translate }}</h3>
    <p>
      {{ "PRIVACYPOLICY.INTERPRETATION" | translate }}
    </p>
    <h3>{{ "PRIVACYPOLICY.DEFINITIONSTITLE" | translate }}</h3>
    <p>{{ "PRIVACYPOLICY.DEFINITIONSPRE" | translate }}</p>
    <ul>
      <li>
        <p>
          {{ "PRIVACYPOLICY.DEFINITIONS.ACCOUNT" | translate }}
        </p>
      </li>
      <li>
        <p>
          {{ "PRIVACYPOLICY.DEFINITIONS.AFFILIATE" | translate }}
        </p>
      </li>
      <li>
        <p>
          {{ "PRIVACYPOLICY.DEFINITIONS.COMPANY" | translate }}
        </p>
      </li>
      <li>
        <p>
          {{ "PRIVACYPOLICY.DEFINITIONS.COOKIES" | translate }}
        </p>
      </li>
      <li>
        <p>{{ "PRIVACYPOLICY.DEFINITIONS.COUNTRY" | translate }}</p>
      </li>

      <li>
        <p>
          {{ "PRIVACYPOLICY.DEFINITIONS.DEVICE" | translate }}
        </p>
      </li>
      <li>
        <p>
          {{ "PRIVACYPOLICY.DEFINITIONS.PERSONALDATA" | translate }}
        </p>
      </li>
      <li>
        <p>{{ "PRIVACYPOLICY.DEFINITIONS.SERVICE" | translate }}</p>
      </li>
      <li>
        <p>
          {{ "PRIVACYPOLICY.DEFINITIONS.SERVICEPROVIDER" | translate }}
        </p>
      </li>
      <li>
        <p>
          {{ "PRIVACYPOLICY.DEFINITIONS.USAGEDATA" | translate }}
        </p>
      </li>
      <li>
        <p>
          {{ "PRIVACYPOLICY.DEFINITIONS.WEBSITE" | translate }}
          <a
            class="portfolio_link"
            href="https://www.alessandro-argenziano.com"
            rel="external nofollow noopener"
            target="_blank"
            >https://www.alessandro-argenziano.com</a
          >
        </p>
      </li>
      <li>
        <p>
          {{ "PRIVACYPOLICY.DEFINITIONS.YOU" | translate }}
        </p>
      </li>
    </ul>
    <h2>{{ "PRIVACYPOLICY.COLLECTINGDATA" | translate }}</h2>
    <h3>{{ "PRIVACYPOLICY.TYPESOFDATA" | translate }}</h3>
    <h4>{{ "PRIVACYPOLICY.PERSONALDATATITLE" | translate }}</h4>
    <p>
      {{ "PRIVACYPOLICY.PERSONALDATA.INFO" | translate }}
    </p>
    <ul>
      <li>
        <p>{{ "PRIVACYPOLICY.PERSONALDATA.EMAIL" | translate }}</p>
      </li>
      <li>
        <p>{{ "PRIVACYPOLICY.PERSONALDATA.NAME" | translate }}</p>
      </li>
      <li>
        <p>{{ "PRIVACYPOLICY.PERSONALDATA.USAGEDATA" | translate }}</p>
      </li>
    </ul>
    <h4>{{ "PRIVACYPOLICY.USAGEDATATITLE" | translate }}</h4>
    <p>{{ "PRIVACYPOLICY.USAGEDATA1" | translate }}</p>
    <p>
      {{ "PRIVACYPOLICY.USAGEDATA2" | translate }}
    </p>
    <p>
      {{ "PRIVACYPOLICY.USAGEDATA3" | translate }}
    </p>
    <p>
      {{ "PRIVACYPOLICY.USAGEDATA4" | translate }}
    </p>
    <h4>{{ "PRIVACYPOLICY.TRACKINGTITLE" | translate }}</h4>
    <p>
      {{ "PRIVACYPOLICY.TRACKINGINFO" | translate }}
    </p>
    <ul>
      <li>
        {{ "PRIVACYPOLICY.TRACKINGTECHNOLOGIES.COOKIES" | translate }}
      </li>
      <li>
        {{ "PRIVACYPOLICY.TRACKINGTECHNOLOGIES.WEBBEACONS" | translate }}
      </li>
      <br />
    </ul>
    <p>
      {{ "PRIVACYPOLICY.COOKIETYPESINFO" | translate }}
    </p>
    <p>
      {{ "PRIVACYPOLICY.COOKIEUSES" | translate }}
    </p>
    <ul>
      <li>
        <p>
          {{ "PRIVACYPOLICY.COOKIECATEGORIES.NECESSARY.TITLE" | translate }}
        </p>
        <p>{{ "PRIVACYPOLICY.COOKIECATEGORIES.NECESSARY.TYPE" | translate }}</p>
        <p>
          {{ "PRIVACYPOLICY.COOKIECATEGORIES.NECESSARY.ADMIN" | translate }}
        </p>
        <p>
          {{ "PRIVACYPOLICY.COOKIECATEGORIES.NECESSARY.PURPOSE" | translate }}
        </p>
      </li>
      <li>
        <p>{{ "PRIVACYPOLICY.COOKIECATEGORIES.NOTICE.TITLE" | translate }}</p>
        <p>{{ "PRIVACYPOLICY.COOKIECATEGORIES.NOTICE.TYPE" | translate }}</p>
        <p>{{ "PRIVACYPOLICY.COOKIECATEGORIES.NOTICE.ADMIN" | translate }}</p>
        <p>
          {{ "PRIVACYPOLICY.COOKIECATEGORIES.NOTICE.PURPOSE" | translate }}
        </p>
      </li>
      <li>
        <p>
          {{ "PRIVACYPOLICY.COOKIECATEGORIES.FUNCTIONALITY.TITLE" | translate }}
        </p>
        <p>
          {{ "PRIVACYPOLICY.COOKIECATEGORIES.FUNCTIONALITY.TYPE" | translate }}
        </p>
        <p>
          {{ "PRIVACYPOLICY.COOKIECATEGORIES.FUNCTIONALITY.ADMIN" | translate }}
        </p>
        <p>
          {{
            "PRIVACYPOLICY.COOKIECATEGORIES.FUNCTIONALITY.PURPOSE" | translate
          }}
        </p>
      </li>
    </ul>
    <p>
      {{ "PRIVACYPOLICY.MORE_INFO" | translate }}
    </p>
    <h3>{{ "PRIVACYPOLICY.USE_OF_DATA.TITLE" | translate }}</h3>
    <p>{{ "PRIVACYPOLICY.USE_OF_DATA.INTRO" | translate }}</p>
    <ul>
      <li>
        <p>
          {{ "PRIVACYPOLICY.USE_OF_DATA.PURPOSES.SERVICE" | translate }}
        </p>
      </li>
      <li>
        <p>
          {{ "PRIVACYPOLICY.USE_OF_DATA.PURPOSES.ACCOUNT" | translate }}
        </p>
      </li>
      <li>
        <p>
          {{ "PRIVACYPOLICY.USE_OF_DATA.PURPOSES.CONTRACT" | translate }}
        </p>
      </li>
      <li>
        <p>
          {{ "PRIVACYPOLICY.USE_OF_DATA.PURPOSES.CONTACT" | translate }}
        </p>
      </li>
      <li>
        <p>
          {{ "PRIVACYPOLICY.USE_OF_DATA.PURPOSES.INFO" | translate }}
        </p>
      </li>
      <li>
        <p>
          {{ "PRIVACYPOLICY.USE_OF_DATA.PURPOSES.REQUESTS" | translate }}
        </p>
      </li>
      <li>
        <p>
          {{ "PRIVACYPOLICY.USE_OF_DATA.PURPOSES.TRANSFERS" | translate }}
        </p>
      </li>
      <li>
        <p>
          {{ "PRIVACYPOLICY.USE_OF_DATA.PURPOSES.OTHER" | translate }}
        </p>
      </li>
    </ul>
    <p>{{ "PRIVACYPOLICY.USE_OF_DATA.SHARE_INFO" | translate }}</p>
    <ul>
      <li>
        {{
          "PRIVACYPOLICY.USE_OF_DATA.SHARE_WITH.SERVICE_PROVIDERS" | translate
        }}
      </li>
      <li>
        {{
          "PRIVACYPOLICY.USE_OF_DATA.SHARE_WITH.BUSINESS_TRANSFERS" | translate
        }}
      </li>
      <li>
        {{ "PRIVACYPOLICY.USE_OF_DATA.SHARE_WITH.AFFILIATES" | translate }}
      </li>
      <li>
        {{ "PRIVACYPOLICY.USE_OF_DATA.SHARE_WITH.PARTNERS" | translate }}
      </li>
      <li>
        {{ "PRIVACYPOLICY.USE_OF_DATA.SHARE_WITH.OTHER_USERS" | translate }}
      </li>
      <li>
        {{ "PRIVACYPOLICY.USE_OF_DATA.SHARE_WITH.CONSENT" | translate }}
      </li>
      <br />
    </ul>
    <h3>{{ "PRIVACYPOLICY.RETENTION.TITLE" | translate }}</h3>
    <p>
      {{ "PRIVACYPOLICY.RETENTION.DATA_DURATION" | translate }}
    </p>
    <p>
      {{ "PRIVACYPOLICY.RETENTION.USAGE_DATA" | translate }}
    </p>
    <h3>{{ "PRIVACYPOLICY.TRANSFER.TITLE" | translate }}</h3>
    <p>
      {{ "PRIVACYPOLICY.TRANSFER.INFO" | translate }}
    </p>
    <p>
      {{ "PRIVACYPOLICY.TRANSFER.CONSENT" | translate }}
    </p>
    <p>
      {{ "PRIVACYPOLICY.TRANSFER.SECURITY" | translate }}
    </p>
    <h3>{{ "PRIVACYPOLICY.DELETE.TITLE" | translate }}</h3>
    <p>
      {{ "PRIVACYPOLICY.DELETE.RIGHT" | translate }}
    </p>
    <p>
      {{ "PRIVACYPOLICY.DELETE.ABILITY" | translate }}
    </p>
    <p>
      {{ "PRIVACYPOLICY.DELETE.UPDATE" | translate }}
    </p>
    <p>
      {{ "PRIVACYPOLICY.DELETE.LIMITATION" | translate }}
    </p>
    <h3>{{ "PRIVACYPOLICY.DISCLOSURE.TITLE" | translate }}</h3>
    <h4>{{ "PRIVACYPOLICY.DISCLOSURE.BUSINESS.TITLE" | translate }}</h4>
    <p>
      {{ "PRIVACYPOLICY.DISCLOSURE.BUSINESS.TEXT" | translate }}
    </p>
    <h4>{{ "PRIVACYPOLICY.DISCLOSURE.LAW_ENFORCEMENT.TITLE" | translate }}</h4>
    <p>
      {{ "PRIVACYPOLICY.DISCLOSURE.LAW_ENFORCEMENT.TEXT" | translate }}
    </p>
    <h4>
      {{ "PRIVACYPOLICY.DISCLOSURE.OTHER_REQUIREMENTS.TITLE" | translate }}
    </h4>
    <p>
      {{ "PRIVACYPOLICY.DISCLOSURE.OTHER_REQUIREMENTS.INTRO" | translate }}
    </p>
    <ul>
      <li>
        {{
          "PRIVACYPOLICY.DISCLOSURE.OTHER_REQUIREMENTS.REASONS.LEGAL_OBLIGATION"
            | translate
        }}
      </li>
      <li>
        {{
          "PRIVACYPOLICY.DISCLOSURE.OTHER_REQUIREMENTS.REASONS.PROTECT_RIGHTS"
            | translate
        }}
      </li>
      <li>
        {{
          "PRIVACYPOLICY.DISCLOSURE.OTHER_REQUIREMENTS.REASONS.INVESTIGATE"
            | translate
        }}
      </li>
      <li>
        {{
          "PRIVACYPOLICY.DISCLOSURE.OTHER_REQUIREMENTS.REASONS.USER_SAFETY"
            | translate
        }}
      </li>
      <li>
        {{
          "PRIVACYPOLICY.DISCLOSURE.OTHER_REQUIREMENTS.REASONS.LEGAL_LIABILITY"
            | translate
        }}
      </li>
      <br />
    </ul>
    <h3>{{ "PRIVACYPOLICY.SECURITY.TITLE" | translate }}</h3>
    <p>
      {{ "PRIVACYPOLICY.SECURITY.TEXT" | translate }}
    </p>
    <h2>{{ "PRIVACYPOLICY.CHILDREN.TITLE" | translate }}</h2>
    <p>
      {{ "PRIVACYPOLICY.CHILDREN.NOT_FOR_CHILDREN" | translate }}
    </p>
    <p>
      {{ "PRIVACYPOLICY.CHILDREN.PARENTAL_CONSENT" | translate }}
    </p>
    <h2>{{ "PRIVACYPOLICY.LINKS.TITLE" | translate }}</h2>
    <p>
      {{ "PRIVACYPOLICY.LINKS.INFO" | translate }}
    </p>
    <p>
      {{ "PRIVACYPOLICY.LINKS.NO_CONTROL" | translate }}
    </p>
    <h2>{{ "PRIVACYPOLICY.CHANGES.TITLE" | translate }}</h2>
    <p>
      {{ "PRIVACYPOLICY.CHANGES.UPDATE_NOTICE" | translate }}
    </p>
    <p>
      {{ "PRIVACYPOLICY.CHANGES.NOTIFICATION" | translate }}
    </p>
    <p>
      {{ "PRIVACYPOLICY.CHANGES.ADVISE" | translate }}
    </p>
    <h2>{{ "PRIVACYPOLICY.CONTACT.TITLE" | translate }}</h2>
    <p>
      {{ "PRIVACYPOLICY.CONTACT.INFO" | translate }}
    </p>
    <ul>
      <li>
        <p>{{ "PRIVACYPOLICY.CONTACT.EMAIL" | translate }}</p>
      </li>
      <li>
        <p>{{ "PRIVACYPOLICY.CONTACT.PHONE" | translate }}</p>
      </li>
    </ul>
    <app-footer class="legal-notice_footer"></app-footer>
  </div>
</div>
