<div class="legal_notice_wrapper">
  <div class="legal_notice_content">
    <button class="close-button" (click)="close()">✕</button>
    <h1>{{ "legalNotice.title" | translate }}</h1>

    <h2>{{ "legalNotice.infoTitle" | translate }}</h2>
    <p>
      Alessandro Argenziano<br />
      Kirchstraße 2<br />
      79801 Hohentengen<br />
      Germany
    </p>

    <h2>{{ "legalNotice.contactTitle" | translate }}</h2>
    <p>
      Telephone: +49 (0)160 92965227<br />
      Email: contact&#64;alessandro-argenziano.com
    </p>

    <h2>{{ "legalNotice.responsibleTitle" | translate }}</h2>
    <p>
      Alessandro Argenziano<br />
      Kirchstraße 2<br />
      79801 Hohentengen
    </p>

    <h2>{{ "legalNotice.disclaimerTitle" | translate }}</h2>

    <h3>{{ "legalNotice.liabilityContentTitle" | translate }}</h3>
    <p>{{ "legalNotice.liabilityContent" | translate }}</p>

    <h3>{{ "legalNotice.liabilityLinksTitle" | translate }}</h3>
    <p>{{ "legalNotice.liabilityLinks" | translate }}</p>

    <h3>{{ "legalNotice.copyrightTitle" | translate }}</h3>
    <p>{{ "legalNotice.copyright" | translate }}</p>
  </div>
</div>
