<div class="contact_wrapper">
  <div class="footer_wrapper">
    <div class="container">
      @if (isMobile) {
      <div class="circle_logo">
        <img
          src="./../../assets/img/contacts/circle_logo.webp"
          alt=""
          aria-hidden="true"
        />
      </div>
      }
      <div class="left_section">
        <div class="title">
          <span>{{ "CONTACT.TITLE" | translate }}</span>
          <h2>{{ "CONTACT.HEADING" | translate }}</h2>
        </div>
        <div class="description_wrapper">
          <div class="description">
            <p>{{ "CONTACT.DESCRIPTION_1" | translate }}</p>
            <p>{{ "CONTACT.DESCRIPTION_2" | translate }}</p>
          </div>
          @if (!isMobile) {
          <div class="line_wrapper"></div>
          }
        </div>
      </div>
      <div class="right_section">
        @if (!isMobile) {
        <div class="circle_logo">
          <img
            src="./../../assets/img/contacts/circle_logo.webp"
            alt=""
            aria-hidden="true"
          />
        </div>
        }
        <app-contact-form style="width: 100%"></app-contact-form>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
