@use "./../../styles/variables" as *;

.contact_wrapper {
  height: 1000px;
  width: 100%;
  background-image: url(./../../assets/img/contacts/contact_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 144px 30px 56px 30px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: default;
  }

  .left_section {
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

    p {
      margin-bottom: 20px;
      font-weight: 400;
      font-size: $font-size-base;
    }

    .title {
      display: flex;
      flex-direction: column;
      margin-bottom: 48px;

      h2 {
        font-size: 64px;
        font-weight: 700;
        position: relative;
      }

      span {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  .description_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    .line_wrapper {
      position: relative;
      height: 44px;
      width: 100%;
      overflow: hidden;
      top: 48px;
      right: 0;
      pointer-events: none;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("./../../assets/img/contacts/contact_line.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        clip-path: inset(0 100% 0 0);
        animation: revealLine 4s ease-in-out infinite;
      }
    }
  }

  @keyframes revealLine {
    0% {
      clip-path: inset(0 100% 0 0);
    }
    10% {
      clip-path: inset(0 0% 0 0);
    }
    30% {
      clip-path: inset(0 0% 0 0);
    }
    80% {
      clip-path: inset(0 0% 0 0);
    }
    90% {
      clip-path: inset(0 100% 0 0);
    }
    100% {
      clip-path: inset(0 100% 0 0);
    }
  }

  .right_section {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 480px;

    .circle_logo {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      z-index: 5;
      pointer-events: none;
    }
  }
}
