<div class="form_container">
  <form
    (ngSubmit)="onSubmit(contactFrom)"
    #contactFrom="ngForm"
    autocomplete="off"
  >
    <div
      class="name_wrapper"
      [class.invalid]="!showInput.name && isFieldInvalid(name)"
    >
      <label
        class="name_label"
        [class.invalid]="!showInput.name && isFieldInvalid(name)"
        for="name"
      >
        What's your name?</label
      >
      <input
        [(ngModel)]="contactData.name"
        #nameInput
        #name="ngModel"
        minlength="4"
        type="text"
        id="name"
        name="name"
        placeholder="Your name goes here"
        autocomplete="off"
        required
        (blur)="onInputBlur(name, 'name')"
        (focus)="clearPlaceholder('name')"
        [placeholder]="placeholders.name"
        [hidden]="!showInput.name && isFieldInvalid(name)"
      />
      @if (!showInput.name && isFieldInvalid(name)) {
      <span class="input_error" (click)="onShowInput('name')">
        Oops! it seems your name is missing
      </span>
      }
    </div>
    <div
      class="email_wrapper"
      [class.invalid]="!showInput.email && isFieldInvalid(email)"
    >
      <label
        class="email_label"
        [class.invalid]="!showInput.email && isFieldInvalid(email)"
        for="email"
        >What's your email?</label
      >
      <input
        [(ngModel)]="contactData.email"
        #emailInput
        #email="ngModel"
        type="email"
        id="email"
        name="email"
        placeholder="youremail@email.com"
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        autocomplete="off"
        required
        (blur)="onInputBlur(email, 'email')"
        (focus)="clearPlaceholder('email')"
        [placeholder]="placeholders.email"
        [hidden]="!showInput.email && isFieldInvalid(email)"
      />
      @if (!showInput.email && isFieldInvalid(email)) {
      <span class="input_error" (click)="onShowInput('email')">
        Hoppla! your email is required
      </span>
      }
    </div>
    <div
      class="message_wrapper"
      [class.invalid]="!showInput.message && isFieldInvalid(message)"
    >
      <label
        class="message_label"
        [class.invalid]="!showInput.message && isFieldInvalid(message)"
        for="message"
        >How can I help you?</label
      >
      <input
        [(ngModel)]="contactData.message"
        #messageInput
        #message="ngModel"
        minlength="8"
        type="text"
        id="message"
        name="message"
        placeholder="Hello Alessandro, I am interested in..."
        autocomplete="off"
        required
        (blur)="onInputBlur(message, 'message')"
        (focus)="clearPlaceholder('message')"
        [placeholder]="placeholders.message"
        [hidden]="!showInput.message && isFieldInvalid(message)"
      />
      @if (!showInput.message && isFieldInvalid(message)) {
      <span class="input_error" (click)="onShowInput('message')">
        What do you need to develop?
      </span>
      }
    </div>
    <span
      class="checkbox_error fields_error"
      [class.visible]="
        isFieldInvalid(message) || isFieldInvalid(email) || isFieldInvalid(name)
      "
      >Please fill all the fields.</span
    >
    <div class="checkbox_wrapper">
      <div class="checkbox_box">
        <input
          #checkbox="ngModel"
          [(ngModel)]="contactData.checkbox"
          type="checkbox"
          id="checkbox"
          name="checkbox"
          required
        />
        <span class="custom_checkbox"></span>
      </div>
      <label class="checkbox_label" for="checkbox">
        I've read the <a href="">privacy policy</a> and agree to the processing
        of my data as outlined.
      </label>
    </div>
    <span
      class="checkbox_error"
      [class.visible]="!checkbox.valid && (checkbox.touched || checkbox.dirty)"
      >Please accept the privacy policy.</span
    >
    <span class="success_message" [class.visible]="successMessage">
      Your message was sent! <br />
      I will get back to you soon.
    </span>
    <div class="mobile_version">
      <div class="line_wrapper"></div>
      <input
        type="submit"
        value="Send"
        [class.disabled]="!checkbox.valid"
        [disabled]="!checkbox.valid"
      />
    </div>
  </form>
</div>
