@use "./../../../styles/variables" as *;

form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -30px;

  input {
    outline: none;
  }

  .name_wrapper {
    width: 100%;
    height: 100%;
    border-bottom: solid 0.5px $primary-color;
    border-top: solid 0.5px transparent;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    transition: color 150ms ease, border 150ms ease;
    cursor: pointer;

    &.invalid {
      border-bottom: solid 0.5px $color-white !important;
      border-top: solid 0.5px $color-white !important;

      &:hover {
        border-bottom: solid 0.5px $color-white;
        border-top: solid 0.5px $color-white;
      }
    }

    &:not(.invalid):hover {
      border-bottom: solid 0.5px $secondary-color;
      border-top: solid 0.5px $secondary-color;

      .name_label {
        color: $accent-color;
        transition: color 0.2s ease;
      }
    }
  }

  #name {
    width: 100%;
    padding: 15px;
    padding-left: 25px;
    background: transparent;
    font-size: $font-size-base;
    color: $color-white;
    border: none;
    cursor: pointer;

    &::placeholder {
      font-size: $font-size-base;
      color: $color-white;
    }
  }

  .name_label {
    cursor: pointer;
    width: 100%;
    padding-left: 25px;
    font-size: $font-size-lg;
    font-weight: 500;

    &.invalid {
      color: $accent-color;
    }

    &:hover {
      color: $accent-color;
    }
  }

  .email_wrapper {
    width: 100%;
    height: 100%;
    border-bottom: solid 0.5px $primary-color;
    border-top: solid 0.5px transparent;
    padding-top: 15px;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    transition: color 150ms ease, border 150ms ease;
    cursor: pointer;

    &.invalid {
      border-bottom: solid 0.5px $color-white !important;
      border-top: solid 0.5px $color-white !important;

      &:hover {
        border-bottom: solid 0.5px $color-white;
        border-top: solid 0.5px $color-white;
      }
    }

    &:not(.invalid):hover {
      border-bottom: solid 0.5px $secondary-color;
      border-top: solid 0.5px $secondary-color;

      .email_label {
        color: $accent-color;
        transition: color 0.2s ease;
      }
    }
  }

  #email {
    width: 100%;
    padding: 15px;
    padding-left: 25px;
    background: transparent;
    font-size: $font-size-base;
    color: $color-white;
    border: none;
    cursor: pointer;

    &::placeholder {
      font-size: $font-size-base;
      color: $color-white;
    }
  }

  .email_label {
    width: fit-content;
    padding-left: 25px;
    font-size: $font-size-lg;
    font-weight: 500;
    cursor: pointer;

    &.invalid {
      color: $accent-color;
    }

    &:hover {
      color: $accent-color;
    }
  }

  .message_wrapper {
    width: 100%;
    height: 100%;
    border-bottom: solid 0.5px $primary-color;
    border-top: solid 0.5px transparent;
    padding-top: 15px;
    margin-top: -1px;
    margin-bottom: 10px;
    transition: color 150ms ease, border 150ms ease;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &.invalid {
      border-bottom: solid 0.5px $color-white !important;
      border-top: solid 0.5px $color-white !important;

      &:hover {
        border-bottom: solid 0.5px $color-white;
        border-top: solid 0.5px $color-white;
      }
    }

    &:not(.invalid):hover {
      border-bottom: solid 0.5px $secondary-color;
      border-top: solid 0.5px $secondary-color;

      .message_label {
        color: $accent-color;
        transition: color 0.2s ease;
      }
    }
  }

  #message {
    width: 100%;
    padding: 15px;
    padding-left: 25px;
    background: transparent;
    font-size: $font-size-base;
    color: $color-white;
    border: none;
    cursor: pointer;

    &::placeholder {
      font-size: $font-size-base;
      color: $color-white;
    }
  }

  .message_label {
    width: fit-content;
    padding-left: 25px;
    font-size: $font-size-lg;
    font-weight: 500;
    cursor: pointer;

    &.invalid {
      color: $accent-color;
    }

    &:hover {
      color: $accent-color;
    }
  }

  .input_error {
    width: 100%;
    padding: 14px 0 15px 26px;
    color: rgba(255, 58, 0, 1);
  }

  .checkbox_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    .checkbox_box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 24px;
      border-radius: 4px;
      background-color: transparent;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #3355ff50;
      }

      input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 18px;
        height: 18px;
        border: 2px solid $secondary-color;
        border-radius: 4px;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: 3px;
        left: 2px;
        z-index: 2;
        margin: 0;
      }

      .custom_checkbox {
        position: absolute;
        top: 45%;
        left: 55%;
        width: 18px;
        height: 18px;
        transform: translate(-50%, -50%);
        background-image: none;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
        z-index: 5;
      }

      input[type="checkbox"]:checked + .custom_checkbox {
        background-image: url("./../../../assets/img/contacts/check.png");
        opacity: 1;
        transform: translate(-50%, -50%);
        margin-left: 2px;
      }
    }

    .checkbox_label {
      font-size: 15px;
      font-weight: 400;
      cursor: default;

      a {
        color: $secondary-color;
        text-decoration: none;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

.checkbox_error {
  color: $accent-color;
  font-size: 14px;
  font-weight: 400;
  opacity: 0;
  transition: opacity 0.2s ease;
  overflow: hidden;
  height: auto;
  padding-left: 34px;

  &.visible {
    opacity: 1;
  }

  &.fields_error {
    padding-left: 25px;
    margin-bottom: 30px;
  }
}

.mobile_version {
  display: flex;
  justify-content: flex-end;
}

.line_wrapper {
  display: none;
}

input[type="submit"] {
  align-self: flex-end;
  margin-top: 10px;
  box-shadow: 2px 4px 0px 0px $color-white;
  text-align: center;
  width: 150px;
  height: 40px;
  padding: 0 24px;
  border: solid 1px $color-white;
  border-radius: 100px;
  background-color: transparent;
  color: $color-white;
  font-size: $font-size-base;
  font-weight: 500;
  transition: all 250ms ease, transform 150ms ease;
  cursor: pointer;

  &:hover {
    transform: translate(3px, 3px);
    box-shadow: none;
    background-color: $accent-color;
    color: $color-white;
  }

  &:disabled {
    color: rgba(248, 249, 250, 0.5);
    border-color: rgba(248, 249, 250, 0.5);
    box-shadow: 2px 4px 0px 0px rgba(248, 249, 250, 0.5);
    pointer-events: none;
    cursor: default;
  }
}

.success_message {
  position: absolute;
  bottom: 0;
  left: 35px;
  color: #24dd80;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;

  &.visible {
    opacity: 1;
  }
}

@keyframes revealLine {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  10% {
    clip-path: inset(0 0% 0 0);
  }
  30% {
    clip-path: inset(0 0% 0 0);
  }
  80% {
    clip-path: inset(0 0% 0 0);
  }
  90% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

@media (max-width: 970px) {
  input[type="submit"] {
    margin-top: 40px !important;
    width: 318px !important;
  }

  .success_message {
    bottom: -50px !important;
    left: auto !important;
    right: 10px !important;
    text-align: right !important;
  }

  .line_wrapper {
    position: relative;
    display: block !important;
    height: 44px;
    width: 100%;
    overflow: hidden;
    top: 25px;
    right: 0;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("./../../../assets/img/contacts/contact_line.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      clip-path: inset(0 100% 0 0);
      animation: revealLine 4s ease-in-out infinite;
    }
  }

  .mobile_version {
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
}
