<div class="form_container">
  <form (ngSubmit)="onSubmit(contactFrom)" #contactFrom="ngForm">
    <div class="name_wrapper">
      <label class="name_label" for="name"> What's your name?</label>
      <input
        [(ngModel)]="contactData.name"
        onfocus="this.placeholder=''"
        type="text"
        id="name"
        name="name"
        placeholder="Your name goes here"
        required
      />
    </div>
    <div class="email_wrapper">
      <label class="email_label" for="email">What's your email?</label>
      <input
        [(ngModel)]="contactData.email"
        onfocus="this.placeholder=''"
        type="email"
        id="email"
        name="email"
        placeholder="youremail@email.com"
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        required
      />
    </div>
    <div
      class="message_wrapper"
      [class.invalid]="!showInput && isMessageInvalid(message)"
    >
      <label
        class="message_label"
        [class.invalid]="!showInput && isMessageInvalid(message)"
        for="message"
        >How can I help you?</label
      >
      <input
        [(ngModel)]="contactData.message"
        onfocus="this.placeholder=''"
        #messageInput
        #message="ngModel"
        minlength="8"
        type="text"
        id="message"
        name="message"
        placeholder="Hello Alessandro, I am interested in..."
        required
        (blur)="onInputBlur(message)"
        [hidden]="!showInput && isMessageInvalid(message)"
      />
      @if (!showInput && isMessageInvalid(message)) {
      <span class="input_error" (click)="onShowInput()">
        What do you need to develop?
      </span>
      }
    </div>
    <div class="checkbox_wrapper">
      <div class="checkbox_box">
        <input
          #checkbox="ngModel"
          [(ngModel)]="contactData.checkbox"
          type="checkbox"
          id="checkbox"
          name="checkbox"
          required
        />
        <span class="custom_checkbox"></span>
      </div>
      <label class="checkbox_label" for="checkbox">
        I've read the <a href="">privacy policy</a> and agree to the processing
        of my data as outlined.
      </label>
    </div>
    <span
      class="checkbox_error"
      [class.visible]="!checkbox.valid && (checkbox.touched || checkbox.dirty)"
      >Please accept the privacy policy.</span
    >
    <input
      type="submit"
      value="Send"
      [class.disabled]="!checkbox.valid"
      [disabled]="!checkbox.valid"
    />
  </form>
</div>
