@use "styles/variables" as *;

@font-face {
  font-family: "bricolage grotesque";
  src: url("assets/fonts/bricolage_grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: "kalam";
  src: url("assets/fonts/kalam/Kalam-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}

body,
html {
  width: 100%;
  font-family: $font-primary;
  font-size: $font-size-base;
  color: $color-white;
}

.overlay_header {
  .about_me a,
  .skills a {
    color: $color-black !important;
    font-weight: 700 !important;
  }
}

.legal-notice_footer {
  margin-top: 100px !important;

  .line_wrapper,
  .logo {
    display: none !important;
  }
}

@media (max-width: 460px) {
  html,
  body {
    overscroll-behavior: none;
    touch-action: pan-x pan-y;
  }

  .legal-notice_footer {
    .social {
      width: 110% !important;
    }
  }
}
