<div class="testimonials_wrapper">
  <div class="container">
    <div class="title">
      <div class="span_arrow">
        <div class="arrow_wrapper"></div>
        <span>IN THEIR WORDS:</span>
      </div>
      <h2>Colleagues' Thoughts</h2>
    </div>
    <div class="testimonials">
      <div class="card one">
        <img src="./../../assets/img/testimonials/card_1.png" alt="" />
        <div class="card_content">
          <p>testimonial 1</p>
          <div class="info">
            <div class="name">
              <h3>Name</h3>
              <h4>Frontend Developer</h4>
            </div>
            <img
              src="./../../assets/img/testimonials/profile_default.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="card two">
        <img src="./../../assets/img/testimonials/card_2.png" alt="" />
        <div class="card_content">
          <p>testimonial 2</p>
          <div class="info">
            <div class="name">
              <h3>Name</h3>
              <h4>Frontend Developer</h4>
            </div>
            <img
              src="./../../assets/img/testimonials/profile_default.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="card three">
        <img src="./../../assets/img/testimonials/card_1.png" alt="" />
        <div class="card_content">
          <p>testimonial 3</p>
          <div class="info">
            <div class="name">
              <h3>Name</h3>
              <h4>Frontend Developer</h4>
            </div>
            <img
              src="./../../assets/img/testimonials/profile_default.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
