<div class="testimonials_wrapper">
  <div class="container">
    <div class="title">
      <div class="span_arrow">
        <div class="arrow_wrapper"></div>
        <span>{{ "TESTIMONIALS.SECTION_TITLE" | translate }}</span>
      </div>
      <h2>{{ "TESTIMONIALS.HEADING" | translate }}</h2>
    </div>
    <div class="testimonials">
      <div class="card one">
        <img
          class="card_img"
          src="./../../assets/img/testimonials/card_1.png"
          alt=""
        />
        <div class="card_content">
          <p>
            {{ "TESTIMONIALS.TEXT_1" | translate }}
          </p>
          <div class="info">
            <div class="name">
              <h3>{{ "TESTIMONIALS.NAME_1" | translate }}</h3>
              <h4>{{ "TESTIMONIALS.ROLE_1" | translate }}</h4>
            </div>
            <a href="" class="invisible"
              ><img
                [src]="
                  isHovered1
                    ? './../../assets/img/testimonials/profile_hover.png'
                    : './../../assets/img/testimonials/profile_default.png'
                "
                (mouseenter)="isHovered1 = true"
                (mouseleave)="isHovered1 = false"
            /></a>
          </div>
        </div>
      </div>
      <div class="card two">
        <img
          class="card_img"
          src="./../../assets/img/testimonials/card_2.png"
          alt=""
        />
        <div class="card_content">
          <p>{{ "TESTIMONIALS.TEXT_2" | translate }}</p>
          <div class="info">
            <div class="name">
              <h3>{{ "TESTIMONIALS.NAME_2" | translate }}</h3>
              <h4>{{ "TESTIMONIALS.ROLE_2" | translate }}</h4>
            </div>
            <a
              href="https://www.linkedin.com/in/marco-marrocu-89912735a/"
              target="_blank"
              ><img
                class="invisible"
                [src]="
                  isHovered2
                    ? './../../assets/img/testimonials/profile_hover.png'
                    : './../../assets/img/testimonials/profile_default.png'
                "
                (mouseenter)="isHovered2 = true"
                (mouseleave)="isHovered2 = false"
            /></a>
          </div>
        </div>
      </div>
      <div class="card three">
        <img
          class="card_img"
          src="./../../assets/img/testimonials/card_1.png"
          alt=""
        />
        <div class="card_content">
          <p>{{ "TESTIMONIALS.TEXT_3" | translate }}</p>
          <div class="info">
            <div class="name">
              <h3>{{ "TESTIMONIALS.NAME_3" | translate }}</h3>
              <h4>{{ "TESTIMONIALS.ROLE_3" | translate }}</h4>
            </div>
            <a
              href="https://www.linkedin.com/in/eid-aden-369b50147?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              target="_blank"
              ><img
                [src]="
                  isHovered3
                    ? './../../assets/img/testimonials/profile_hover.png'
                    : './../../assets/img/testimonials/profile_default.png'
                "
                (mouseenter)="isHovered3 = true"
                (mouseleave)="isHovered3 = false"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
