@use "./../../styles/variables" as *;

* {
  color: $color-black;
}

.testimonials_wrapper {
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: relative;

  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 30px 80px 30px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;
  }

  .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .span_arrow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
  }

  h2 {
    font-size: 64px;
    font-weight: 700;
    position: relative;
  }

  p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
  }

  span {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
  }

  .arrow_wrapper {
    position: relative;
    height: 36px;
    width: 100px;
    overflow: hidden;
    top: 0;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("./../../assets/img/testimonials/arrow.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left;
      clip-path: inset(0 0 0 100%);
      animation: revealArrow 4s ease-in-out infinite;
    }
  }

  @keyframes revealArrow {
    0% {
      clip-path: inset(0 0 0 100%);
    }
    10%,
    30%,
    80% {
      clip-path: inset(0 0 0 0%);
    }
    90%,
    100% {
      clip-path: inset(0 0 0 100%);
    }
  }
}
