<footer>
  <div class="footer_wrapper">
    <div class="container">
      <div class="legal_notice_wrapper">
        <div class="logo_wrapper">
          <a href="#header" class="logo"></a>
          <p>© Alessandro Argenziano 2025</p>
        </div>
        <div class="line_wrapper">
          <a class="legal_notice">Legal Notice</a>
          <div class="legal_notice_line"></div>
        </div>
      </div>
      <div class="git_wrapper">
        <a class="github">GitHub</a>
      </div>
      <div class="linkedin_wrapper">
        <a class="linkedin">Linkedin</a>
      </div>
      <div class="email_wrapper">
        <a class="email">Email</a>
      </div>
    </div>
  </div>
</footer>
