<footer>
  <div class="footer_wrapper">
    <div class="container">
      <div class="legal_notice_wrapper">
        <div class="logo_wrapper">
          <a href="#header" class="logo"></a>
          <p>© Alessandro Argenziano 2025</p>
        </div>
        <div class="line_wrapper">
          <a class="legal_notice">Legal Notice</a>
          <div class="legal_notice_line"></div>
        </div>
      </div>
      <div class="social">
        <div class="git_wrapper">
          <img
            class="git_icon"
            src="./../../../assets/img/social_icons/github.png"
            alt="GitHub Icon"
          />
          <a class="github">GitHub</a>
        </div>
        <div class="linkedin_wrapper">
          <img
            src="./../../../assets/img/social_icons/linkedin.png"
            alt="Linkedin Icon"
            class="linkedin_icon"
          />
          <a class="linkedin">Linkedin</a>
        </div>
        <div class="email_wrapper">
          <img
            src="./../../../assets/img/social_icons/mail.png"
            alt="Email Icon"
            class="email_icon"
          />
          <a class="email">Email</a>
        </div>
      </div>
    </div>
  </div>
</footer>
